<%= form_for(@rel) do |f| %>
  <% if @rel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rel.errors.count, "error") %> prohibited this rel from being saved:</h2>

      <ul>
      <% @rel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :master_id %><br />
    <%= f.text_field :master_id %>
  </div>
  <div class="field">
    <%= f.label :follower_id %><br />
    <%= f.text_field :follower_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
