<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sex %><br />
    <%= f.select :sex, [["男", 0], ["女", 1], ["伪娘", 3]] %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :pwd %><br />
    <%= f.text_field :pwd %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
