<%= content_for :head do %>
   <%= stylesheet_link_tag 'user/edit' %>
<% end %>
<div class="wrapper">
  <div class="main">
    <h2 style="margin: 10px;">上传头像</h2>

    <div class="form_box">
      <%= form_tag @user.avatar, :multipart => true, :method => 'put' do %>
          <div class="field">
            <%= label :avatar, "选择你的照片:" %>
            <%= file_field_tag :avatar, :readonly => "readonly" %>
          </div>
          <div class="actions">
            <%= submit_tag '完成' %>
          </div>
      <% end %>

    </div>
  </div>
</div>


