<div class="wrapper">
  <div class="main">
    <div class="nav_second">
      <%= link_to '人气' %>
      <%= link_to '同城' %>
    </div>

    <div class="hot_users">
      <h2><%= link_to '人气Coser', hot_users_path %></h2>
      <ul>
        <% @hot_users.each do |user| %>
            <li>

              <div>
                <%= link_to user do %>
                    <%= image_tag user.avatar.url %>
                <% end %>
              </div>
              <div class="user_name">

                <%= link_to user.name, user %>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>