<%= content_for :head do %>
    <%= stylesheet_link_tag "form" %>
    <%= stylesheet_link_tag "user/new" %>
<% end %>
<div class="wrapper">
  <h1 class="title">欢迎加入Icosplay</h1>
  <div class="form_box">
    <%= form_for(@user) do |f| %>

        <div class="field">
          <%= f.label :email, "邮箱" %>
          <%= f.text_field :email %>
        </div>
        <div class="field">
          <%= f.label :name, '昵称' %>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :sex, "性别" %>
          <%= f.label :sex, "男", :checked => true,:class => "sex" %>
          <%= f.radio_button :sex, User::MALE %>
          <%= f.label :sex, "女", :class => "sex" %>
          <%= f.radio_button :sex, User::FEMALE %>

        </div>

        <div class="field">
          <%= f.label :age, "年龄" %>
          <%= select_tag :age, options_for_select((13..30).collect { |i| [i, i] }) %>
        </div>

        <div class="field">
          <%= f.label :city, '常居住地' %>
          <%= f.select :city_id, City.all.collect { |c| [c.name, c.id] } %>
        </div>

        <div class="field">
          <%= f.label :pwd, "密码" %>
          <%= f.password_field :pwd %>
        </div>
        <div class="field">
          <%= f.label :pwd_confirmation, "重复密码" %>
          <%= f.password_field :pwd_confirmation %>
        </div>
        <div class="actions">
          <%= f.submit "注册" %>
        </div>
    <% end %>
  </div>

  <div class="aside">
      &gt; 已经拥有Icosplay帐号?
      <%= link_to "立即登陆", login_path %>
  </div>


</div>


