<%= content_for :head do %>
    <%= stylesheet_link_tag 'user/show' %>
    <%= stylesheet_link_tag 'msg' %>
    <%= javascript_include_tag 'users/show' %>
<% end %>
<div class="wrapper">
  <div class="main">

    <div class="user">
      <% if login? && current_user == @user %>
          <div style="width: 100%; float: left;font-size: 14px; margin: 0"><%= link_to "修改资料", edit_user_path(@user) %></div>
      <% end %>
      <div class="avatar"><%= image_tag @user.avatar.url %></div>
      <div class="simple_info">
      </div>
      <div>
        <%= h "昵称 ：  #{@user.name}" %>
      </div>
      <div>
        <%= h "性别 ：  #{@user.sex_text}" %>
      </div>
      <div><%= h "年龄 ：   #{@user.age}" %></div>
      <div><%= h "城市 ：  " %> <%= link_to @user.city.name, @user.city %>    </div>

    </div>


    <% unless login? && current_user == @user %>
        <div class="tool">
          <% if login? && current_user.masters.exists?(@user.id) %>
              <%= link_to '取消关注', "javascript:void(0)", :id => 'unfavorite', :user_id => @user.id %>
              <%= link_to '关注', "javascript:void(0)", :id => 'favorite', :user_id => @user.id, :style => 'display: none' %>
          <% else %>
              <%= link_to '取消关注', "javascript:void(0)", :id => 'unfavorite', :user_id => @user.id, :style => 'display: none' %>
              <%= link_to '关注', "javascript:void(0)", :id => 'favorite', :user_id => @user.id %>
          <% end %>
        </div>
    <% end %>


    <!--<div class="me_tags">-->
    <!--<h3><%= h "个性标签 ： " %></h3>-->
    <!--<ul>-->
    <!--
    <% @user.tags.each do |tag| %>-->
        <!--<li>-->
        <!--<%= link_to tag.name, by_tag_tag_users_path(tag) %>-->
        <!--</li>-->
        <!--
    <% end %>-->
    <!--</ul>-->

    <!--</div>-->

    <div class="me">
      <h2><%= link_to '> 收录', album_path(@user.album), :style => "font-size: 16px" %> </h2>
      <ul>
        <% if @user.album %>
            <% @user.album.photos.each_with_index do |photo, index| %>
                <% break if index > 6 %>
                <li>
                  <%= link_to photo do %>
                      <%= image_tag photo.id2thumb_relative_path %>
                  <% end %>
                </li>
            <% end %>
        <% end %>
      </ul>
    </div>

    <%= render :partial => 'users/message_container' %>
  </div>

  <div class="right">
    <ul>
      <li>
        <%= link_to "> 喜欢", masters_user_path %>
      </li>
      <li>
        <%= link_to "> 粉丝", followers_user_path %>
      </li>
    </ul>

  </div>
</div>
