<%= content_for :head do %>
    <%= stylesheet_link_tag 'user/show' %>
    <%= stylesheet_link_tag 'msg' %>
    <%= javascript_include_tag 'users/show' %>
<% end %>
<div class="wrapper">
  <div class="main">
    <div class="user">
      <div class="avatar"><%= image_tag @user.avatar.url %></div>
      <div class="simple_info">
      </div>
      <div>
        <%= h "昵称 ：  #{@user.name}" %>
      </div>
      <div>
        <%= h "性别 ：  #{@user.sex_text}" %>
      </div>
      <div><%= h "年龄 ：   #{@user.age}" %></div>
      <div><%= h "城市 ：  " %> <%= link_to @user.city.name %>    </div>

    </div>

    <div class="tool">
      <% if login? && current_user.masters.exists?(@user.id) %>
          <%= link_to '取消关注', "javascript:void(0)", :id => 'unfavorite', :user_id => @user.id %>
          <%= link_to '关注', "javascript:void(0)", :id => 'favorite', :user_id => @user.id, :style => 'display: none' %>
      <% else %>
          <%= link_to '取消关注', "javascript:void(0)", :id => 'unfavorite', :user_id => @user.id, :style => 'display: none' %>
          <%= link_to '关注', "javascript:void(0)", :id => 'favorite', :user_id => @user.id %>
      <% end %>
    </div>

    <div class="me_tags">
      <h3><%= h "我的标签 ： " %></h3>
      <ul>
        <% @user.tags.each do |tag| %>
            <li>
              <%= link_to tag.name, search_tag_users_path(:tag_name => tag.name) %>
            </li>
        <% end %>
      </ul>

    </div>

    <!--<div class="person_nav">-->
    <!--
  <% if @user.community %>-->
        <!--<%= link_to '> 我的Cos社', me_community_path %>-->
        <!--
  <% else %>-->
        <!--<%= link_to '我的Cos社', choice_communities_path %>-->
        <!--
  <% end %>-->
    <!--</div>-->

    <div class="me">
      <h3><%= link_to '> Me cosplay', me_album_path(@user.album) %> </h3>
      <ul>
        <% if @user.album %>
            <% @user.album.photos.each_with_index do |photo, index| %>
                <% break if index > 6 %>
                <li>
                  <%= link_to photo do %>
                      <%= image_tag photo.web_url %>
                  <% end %>
                </li>
            <% end %>
        <% end %>
      </ul>
    </div>

    <div class="messages_container">
      <span>留言：</span>
      <ul class="messages">
        <%= @user.received_messages.size %>
        <% @user.received_messages.each do |msg| %>
            <li class="message">
              <div class="avatar">
                <%= link_to msg.from do %>
                    <%= image_tag msg.from.avatar.url %>
                <% end %>
              </div>
              <div class="content">
                <div class="username">
                  <%= link_to msg.from.name %>
                </div>
                <div class="talk">
                  msg.content
                </div>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="right">
    <ul>
      <li>
        <%= link_to "> 关注", masters_users_path %>
      </li>
      <li>
        <%= link_to "> 粉丝", followers_users_path %>
      </li>
      <li>
        <%= link_to "> 收藏", favorited_user_photos_path(@user) %>
      </li>
    </ul>

  </div>
</div>
