
<%= content_for :head do %>
    <%= stylesheet_link_tag 'index' %>
<% end %>
<div class="wrapper">

  <div class="main">



  <div class="top_photos">
    <h2><%= link_to '人气Cos美图', top_photos_path %></h2>
    <div class="nav_second">
      <%= link_to '人气' %>
      <%= link_to '推荐' %>
      <%= link_to '最新' %>
      <%= link_to '更多' %>
    </div>
    <ul>
      <% @top_photos.each do |photo| %>

      <li>
            <div>
              <%= link_to photo do %>
                  <%= image_tag photo.web_url %>
              <% end %>
            </div>
      </li>
      <% end %>

    </ul>
  </div>

  </div>

  <div class="right">
    <div>
      <h3><%= link_to '流行标签：' %></h3>
      <ul class="pop_tags">
        <% @pop_tags.each do |tag| %>
            <li>
              <%= link_to tag.name, by_tag_tag_photos_path(tag)  %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>