<%= content_for :head do %>
    <%= stylesheet_link_tag 'index' %>
<% end %>
<div class="wrapper">

  <div class="main">

  <div class="hot_users">
    <h2><%= link_to '人气Coser', hot_users_path %></h2>
    <ul>
      <% @hot_users.each do |user| %>
          <li>

            <div>
              <%= link_to user do%>
              <%= image_tag user.avatar.url %>
              <% end %>
            </div>
            <div class="user_name">

              <%= link_to user.name, user %>
            </div>
          </li>
      <% end %>

    </ul>
  </div>

  <div class="top_photos">
    <h2><%= link_to '人气Cos美图', top_photos_path %></h2>
    <ul>
      <% @top_photos.each do |photo| %>

      <li>
            <div>
              <%= link_to photo do %>
                  <%= image_tag photo.web_url %>
              <% end %>
            </div>
      </li>
      <% end %>

    </ul>
  </div>

  </div>

  <div class="right">
    <div>
      <h3><%= link_to '流行标签：' %></h3>
      <ul class="pop_tags">
        <% @pop_tags.each do |tag| %>
            <li>
              <%= link_to tag.name, by_tag_tag_photos_path(tag)  %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>