<p id="notice"><%= notice %></p>

<p>
  <b>Master:</b>
  <%= @fan.master_id %>
</p>

<p>
  <b>Fan:</b>
  <%= @fan.fan_id %>
</p>

<p>
  <b>Status:</b>
  <%= @fan.status %>
</p>


<%= link_to 'Edit', edit_fan_path(@fan) %> |
<%= link_to 'Back', fans_path %>
