<%= content_for :head do %>
    <%= stylesheet_link_tag 'album/me' %>
<% end %>
<div class="wrapper">
  <% if current_user && current_user == @album.user %>
      <%= link_to '上传你的cosplay', new_album_photo_path(@album) %>
  <% end %>
  <ul class="photos">
    <% @photos.each do |p| %>
        <li class="photo">
          <%= link_to p do %>
              <%= image_tag p.uri %>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>