<%= content_for :head do %>
<% end %>
<div class="wrapper">


  <div class="main">

    <div id="canvas">
      <div class="nav_second">
        <h2><%= h "#{@album.user.name}的Cosplay" %></h2>
        <% if current_user && current_user == @album.user %>
            <%= link_to '上传你的cosplay', new_album_photo_path(@album) %>
        <% end %>
      </div>
      <ul>
        <% @photos.each do |photo| %>
            <li>
              <div>
                <%= link_to photo do %>
                    <%= image_tag photo.id2thumb_relative_path %>
                <% end %>
              </div>
            </li>
        <% end %>
      </ul>

      <div class="pages">
        <%= will_paginate @photos, :previous_label => '', :next_label => 'GO' %>
      </div>
    </div>
  </div>

  <div class="right">
    <div class="visit_master">
      <div class="avatar">
        <%= link_to @album.user do %>
            <%= image_tag @album.user.avatar.url %>
        <% end %>
      </div>
      <div class="username" style="text-align: middle">
        <%= link_to @album.user.name, @album.user %>
      </div>
    </div>

  </div>
</div>