<%= content_for :head do %>
    <%= stylesheet_link_tag 'gallery' %>
    <%= javascript_include_tag 'gallery' %>
<% end %>
<div class="wrapper">
  <div class="gallery_container">
    <div class="thumb_container">
      <div class="thumb_back">
        <%= link_to '<', ApplicationHelper::JAVASCRIPT %>
      </div>
      <div class="thumbs">
        <ul id="gallery_thumb">
          <% @photos.each do |photo| %>
              <li>
                <%= image_tag photo.web_url %>
              </li>
          <% end %>
        </ul>
      </div>


      <div class="thumb_forward">
        <%= link_to '>', ApplicationHelper::JAVASCRIPT %>
      </div>
    </div>
  </div>
</div>