<%= content_for :head do %>
    <%= stylesheet_link_tag 'photo/show' %>
    <%= javascript_include_tag 'photo' %>
<% end %>
<div class="wrapper">
  <%= hidden_field_tag :photo_id, @photo.id %>

  <div class="main">

    <div class="photo">
      <div class="tool">
        <% if current_user && current_user.favorite_photos.exists?(@photo.id) %>
            <!--<%= link_to '收藏', ApplicationHelper::JAVASCRIPT, :id => 'favorite_photo', :photo_id => @photo.id %>-->
            <span id="favorited_photo">已收藏</span>
        <% else %>
            <%= link_to '收藏', ApplicationHelper::JAVASCRIPT, :id => 'favorite_photo', :photo_id => @photo.id %>
            <span id="favorited_photo" style="display:none">已收藏</span>
        <% end %>
      </div>
      <div class="img">
        <%= link_to next_album_photo_path(@photo.album, @photo) do %>
            <%= image_tag @photo.id2relative_path %>
        <% end %>
      </div>
    </div>
    <div class="comments">

      <h3 class="title">评论&nbsp;&nbsp;· · · · · ·&nbsp;</h3>
      <ul>
        <% @comments.each do |comment| %>
            <li class="comment">
              <div class="avatar">
                <%= link_to comment.user do %>
                    <%= image_tag comment.user.avatar.url %>
                <% end %>
              </div>
              <div class="content">
                <div class="username">
                  <%= link_to comment.user.name, comment.user %>
                  <span class="time"><%= comment.created_at.strftime("%Y-%m-%d") %></span>
                </div>
                <div class="talk">
                  <%= comment.content %>
                </div>
              </div>

            </li>
        <% end %>

      </ul>

      <div class="new_comment">
        <%= form_for Comment.new do |f| %>
            <%= f.hidden_field :photo_id, :value => @photo.id %>
            <div class="inputarea">
              <%= f.text_area :content, :cols => '', :rows => '' %>
            </div>
            <div class="submit_comment">
              <%= f.submit '发送' %>
            </div>
        <% end %>

      </div>
    </div>

  </div>


  <div class="right">
    <div class="visit_master">
      <div class="avatar">
        <%= link_to @photo.album.user do %>
            <%= image_tag @photo.album.user.avatar.url %>
        <% end %>
        <div>
          <%= link_to @photo.album.user.name, @photo.album.user%>
        </div>

      </div>
      <!--<div class="username">-->
      <!--<%= link_to @photo.album.user.name, @photo.album.user %>-->
      <!--</div>-->
    </div>

    <ul class="tags">
      <% @photo.tags.each do |tag| %>
          <li class="tag"><%= link_to "> #{tag.name}", search_tag_photos_path(:tag_name => tag.name) %></li>
      <% end %>
    </ul>

  </div>


</div>