<%= form_for(@community) do |f| %>
  <div class="field">
    <%= f.label :name, '社名' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, '描述' %><br />
    <%= f.text_field :description %>
  </div>
  <div class="action">
    <%= f.submit '创建' %>
  </div>
<% end %>
