<!DOCTYPE html>
<html>
<head>
  <title>Icosplay, 快来cosplay吧</title>
  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26539939-1']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();

  </script>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag 'jquery-1.6.2' %>
  <%= javascript_include_tag 'application' %>

  <%= stylesheet_link_tag 'application' %>

  <%= yield :head %>
</head>
<body>

<%= render 'share/header' %>
<div class="main_content">
  <%= yield %>
</div>


<%= render 'share/footer' %>

</body>
</html>
